parameters:
    level: 5
    paths:
        - webberzone-acf-country.php
        - includes/
    scanFiles:
        - webberzone-acf-country.php
        - phpstan-bootstrap.php
    scanDirectories:
        - includes
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
